# ====================================================
# sf-data-pipelines-quant - Environment Variables
# ====================================================
# Copy this file to `.env` on your Research Computing account.

# --- User / Project Paths ---

# BYU Research Computing username
# Enter your Supercomputing username here. This is used to set the home directory and project root paths.
USERNAME=

# Home directory used by the Quant pipeline
ROOT=/home/${USERNAME}

# Repository path used by backtesting workflows
PROJECT_ROOT=/home/${USERNAME}/projects/sf-data-pipelines-quant

# Database environment used by scheduled pipeline runs.
# Valid values: production, development, research
DATABASE_ENV=


# --- WRDS ---

# WRDS username used by CRSP and FTSE Russell pipelines
WRDS_USER=


# --- Backtesting ---

# BYU email used for Slurm job notifications
BYU_EMAIL=

# --- For Slack notification when the pipelines fail ---
# Developers Only
SLACK_BOT_TOKEN=
SLACK_CHANNEL_ID="" # quant-devloper-alerts